.home{
  min-height: 100vh;
}

.section-h1 {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap-reverse;
}

.info-perfil{
  display: block;
  width: 50%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.profile-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(/src/assets/img/profile.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 60vh;
  position: relative;
  transition: all 1s ease-in-out;
  width: 60vh;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-title p{
  border-right: 2px solid black
}

.skills-title{
  display: flex;
}

.logos{
  display: flex;
  margin-top: 1.5rem;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style: none;
}

.techStack li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  cursor: pointer;
  height: 15vh;
  width: 15vh;
}

.techStack li img{
  width: 3.50rem;
}