body {
  padding-top: 35px; /* Ajusta el valor según sea necesario */
}

nav{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerfd{
  padding-top: 55px;
}

.home{
  background-color:#f9f9f9;
}


.about{
  background-color:#fff;
}


.projects{
  background-color:#f9f9f9;
}

.contact{
  background-color:#fff;
}

